{% load static %}
<style>
.navbar {
    padding: 0;
}

.navbar-brand img {
    max-height: 50px;
    margin-right: 10px;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    color: #555;
    padding: 0 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #cc0000;
}

.navbar-nav .btn-outline-secondary,
.navbar-nav .btn-outline-success {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .btn-outline-secondary:hover,
.navbar-nav .btn-outline-success:hover {
    background-color: #cc0000;
    color: #fff;
}

.navbar-nav .btn-primary {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
    font-size: 0.9rem; /* Düğme boyutunu küçültmek için */
}

.navbar-nav .btn-primary:hover {
    background-color: #004085;
    color: #fff;
}

.search-input {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-button {
    border-radius: 20px;
    color: #cc0000; /* "Ara" yazısının rengi */
    font-weight: bold;
}

.btn {
    border-radius: 20px;
}

.register-button {
    font-size: 0.9rem; /* Düğme boyutunu küçültmek için */
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-control {
    height: 38px; /* Arama çubuğunun yüksekliğini ayarlayın */
}

</style>
{% load static %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="{% static 'img/derya_logo.png' %}" alt="dlogo" class="logo-img" style="max-width: 50px;">
            <h2 class="m-0 text-primary">Derya Makine</h2>
        </a>
        
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto p-4 p-lg-0">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link py-4 px-lg-3{% if url == 'home' %} active{% endif %}">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link py-4 px-lg-3{% if url == 'contact' %} active{% endif %}">İletişim</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link py-4 px-lg-3{% if url == 'about' %} active{% endif %}">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a href="https://demacimportexport.com" class="nav-link py-4 px-lg-3">
                        <img src="{% static 'img/demaclogo.png' %}" alt="dlogo" style="max-width: 100px; height: auto;">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link py-4 px-lg-3">
                        <i class="fa fa-shopping-cart me-2"></i>Ürünler
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'order' %}" class="nav-link py-4 px-lg-3">
                            <i class="fa fa-shopping-basket me-2"></i>Sepet
                            <span class="badge bg-danger rounded-pill ms-1">{{ request.session.cart_items }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item d-flex align-items-center">
                    <form class="d-flex align-items-center" method="get" action="{% url 'search_results' %}">
                        <input class="form-control me-2 search-input" type="search" placeholder="Ara" aria-label="Ara" name="q" value="{{ request.GET.q }}">
                        <button class="btn btn-outline-success search-button" type="submit">ARA</button>
                    </form>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-primary py-2 px-lg-3 ms-lg-3 register-button">
                            <i class="fa fa-user me-2"></i>Kayıt Ol<i class="fa fa-arrow-right ms-2"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
