{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kullanıcı Girişi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% include '_partials/_libaries.html' %}


    <style>
        body {
            background-color: #fdfafa;
        }

        .form-label {
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
        }

        .btn-block {
            text-transform: none;
        }

        .card-body {
            padding: 2rem;
        }

        .text-center.mb-4 {
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>İstanbul/Turkey</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-language text-primary me-2"></small>
                <small>
                    <a href="#">English</a> | <a href="#">Türkçe</a>
                </small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+90 (212) 544 80 00</small> <small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

    <!-- User Login Start -->
    <div class="container mt-5 mb-5 container-rounded" style="max-width: 500px;">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center justify-content-center mb-4">
                    <h2 class="m-0 text-primary" style="font-size: 48px;"><img src="{% static 'img/derya_logo.png' %}" alt="dlogo" class="logo-img"></img>Derya Makine</h2>
                </a>
                <div class="card container-rounded">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4">Hesaba giriş yap</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="username" class="form-label" style="font-weight: bold;">Kullanıcı Adı</label>
                                <input type="text" class="form-control form-control-rounded" id="username" name="username" required>
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label" style="font-weight: bold;">Şifre</label>
                                <input type="password" class="form-control form-control-rounded" id="password" name="password" required>
                            </div>
                            <div class="text-center">
                                <input type="hidden" value="{{ request.GET.next }}" name="next"/>
                                <button type="sumbit"><div class="btn btn-primary btn-lg btn-block btn-animate w-100">Giriş Yap</div></button>
                            </div>
                            <div class="text-center mt-3">
                                <small>Hesabınız yok mu? <a href="{% url 'register' %}">Kayıt Olun</a></small>
                            </div>
                            <div class="text-center mt-3">
                                <small><a href="{% url 'password_reset' %}">Şifrenizi mi unuttunuz?</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Login End -->

    <!-- Footer Start -->
    {% include '_partials/_footer.html' %}
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>

</html>
