{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Derya Makine</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include '_partials/_libaries.html' %}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>Orta Mah.Ulubatlı Hasan Sk.Emintaş Ulubatlı İş Merkezi No:11 L Bayrampaşa/İstanbul 34040</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Hafta İçi: 08.00 - 19.00 </small>
                    <small>Cumartesi: 08.00 - 17.00 </small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+90 (212) 544 80 00</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
<!-- Topbar End -->


    <!-- Navbar Start -->
{% include '_partials/_navbar.html' %}
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/banner2.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Teslim ve Ödeme Koşullar</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="index.html">Ana sayfa</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Teslim ve Ödeme Koşullar</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Section Start -->

    <div class="container-xxl py-5">
        <div class="container">
            <section id="content" class="page-content page-cms page-cms-1">

    
                <h2>1. Uygulama Kapsamı</h2>
          <p>İşbu teslim ve ödeme koşulları, aksi kararlaştırılmadığı sürece alıcıyla gerçekleştirilecek tüm ticari işlemlere uygulanacaktır. Taraflar, işbu belge ile, aralarındaki akdi ilişkiye, alıcının satın alma koşullarının uygulanmayacağını açık olarak beyan ve kabul etmektedir. Yazılı olarak tarafımızca onay verilmediği sürece bir siparişin tarafımızca kabulü yahut teslimi de onay anlamına gelmeyecektir. İşbu teslim ve ödeme koşulları tüketicilere uygulanmaz.</p>
          <h2>2. Sözleşmenin akdi, ürünlerin özellikleri</h2>
          <p>Tekliflerimiz bağlayıcı değildir. Sözleşmeler ancak sözleşmenin koşullarını belirleyecek olan yazılı sipariş teyidimiz ile yapılır. Herhangi bir gerekçe göstermeksizin siparişlere teyit vermekten imtina etmek hakkımızı saklı tutmaktayız. Bir siparişi teyit etmeksizin teslim etmemiz halinde teslim sözleşmesi teslim üzerine yapılmış sayılır.</p>
          <p>Ürünlerimizin tanım ve illüstrasyonları sadece bilgi amaçlı olup ürün aslı ile farklılıklar gösterebilir. Teslimattan önce ürünlerimizde, başta güncellemeler esnasında yapılacak teknik değişiklikler nedeniyle olmak üzere alıcının menfaatlerine önemli ölçüde halel getirmeksizin makul olmayan bir oranda aykırı olmaması koşulu ile, değişiklik yapma hakkımız saklı tutulmaktadır.</p>
          <h2>3. İptal istisnası ve teslimatın iadesi</h2>
          <p>Akdedilen sözleşmelerin iptali veya değiştirilmesi ancak açık onayımız ile mümkündür. Teslim edilen ürünlerin iadesi için önceden yazılı onayımızın alınması gereklidir. Bu şekilde haklı sebep olmaksızın sözleşme iptali yahut değişikliği yapılması hallerinde tazminat talep etme hakkımız saklı tutulmaktadır.</p>
          <h2>4. Riskin geçişi, nakliye</h2>
          <p>Teslimat fabrikada teslim (ex works) veya depoda teslim (ex warehouse) şeklinde yapılacaktır. Risk alıcıya, ürünler tarafımızca nakliyeciye verilir verilmez, en geç fabrikadan yahut depodan ayrıldıklarında geçecektir.</p>
          <p>Yurt dışına yapılacak teslimatlar da dâhil olmak üzere, nakliye sigortası yaptırma hakkımız olmakla birlikte hiçbir durumda böyle bir yükümlülüğümüz bulunmamaktadır. Ürünlerin nakliye sırasında hasar görmesi veya kaybolması durumunda alıcı derhal nakliye acentesine durum hakkında rapor hazırlatmalıdır.</p>
          <p>Alıcı aksi yönde yazılı talimat vermediği sürece, nakliye şekline, nakliye rotasına ve nakliye sigortasına ilişkin karar verme hakkı, en hızlı ve en ucuz seçeneği tercih etme zorunluluğu bulunmaksızın tarafımıza aittir.</p>
          <h2>5. Kısmi teslimatlar</h2>
          <p>Siparişleri kısmi teslimatlar şeklinde yerine getirme hakkımız mevcuttur, bu halde söz konusu kısmi teslimatlar birbirinden bağımsız teslimatlar olarak değerlendirilir ve 8’inci maddede belirtilen ödeme koşulları uyarınca ayrı ayrı fiyatlandırılır. Kısmi bir teslimata ilişkin ödemenin gecikmesi halinde, siparişin geri kalanının yerine getirilmesini askıya alma hakkımız mevcuttur.</p>
          <h2>6. Teslim Süresi</h2>
          <p>Her sipariş için teslim süresi ayrı olarak kararlaştırılır ve sipariş teyidinde belirtilir. Teslim süresi; siparişin tüm ayrıntıları açıklığa kavuşturulup, özellikle de alıcının gerekli tüm belge, izin ve onayları temin etmesi ve mutabık kalınan ön ödemenin alınması üzerine, siparişin tarafımızca teyit edildiği tarihte başlar. Sürenin dolduğu tarihte ürünler nakliyeye verilmişse veya nakliyeye verilmeye hazır olduklarına ilişkin bildirimde bulunulmuşsa teslim süresine uyulduğu kabul edilir.</p>
          <p>Teslimatın gerçekleştirilmesinin mücbir sebepler nedeniyle mümkün olmaması halinde, teslim tarihi mücbir sebep teşkil eden olayın meydana geldiği andan itibaren, uygun bir başlama periyodu da eklenecek şekilde, otomatik olarak uzatılacaktır. Teslimatı tarafımız için makul olmayacak şekilde güçleştiren yahut imkânsız kılan, tedarikçilerin teslimatlarındaki gecikmeler, toplu iş</p>
          <p>sözleşmesinden doğan uyuşmazlıklar, resmi kurumların müdahaleleri, hammadde sıkıntısı veya enerji kesintileri, fabrikanın veya nakliyenin durdurulmasına sebep olabilecek her türlü durum ve benzeri öngörülemeyen koşullar mücbir sebep olarak kabul edilecektir. Bu koşulların dört aydan uzun sürmesi halinde sözleşmeyi feshetme hakkımız bulunmaktadır. Alıcının talebi halinde, sözleşmenin feshi veya tarafımızca belirlenecek makul bir süre içinde ürünlerin teslimi hususundaki tercihimiz bildirilecektir. Bu halde, alıcının zararının tazminini talep etme hakkı bulunmamaktadır.</p>
          <p>Herhangi bir teslim süresinin tarafımızca aşılması halinde, tarafımızca temerrüde düşüldüğünün kabulü için alıcının en az 2 takvim haftası ek süre vermesi ve bu sürede de teslimatın gerçekleşmemiş olması gerekmektedir. Alıcının ancak bundan sonra sözleşmeyi feshetme hakkı bulunmaktadır. Zararın tazminine ilişkin talepler yerine getirilmemiş olan teslimat bedelinin %5’inden fazla olmayacaktır.</p>
          <h2>7. Fiyat</h2>
          <p>Münferit durumlarda taraflarca aksi kararlaştırılmadığı sürece alıcı, sipariş teyidinin yapıldığı gün geçerli olan liste fiyatı üzerinden ödeme yapmakla yükümlüdür. Teslimat süresinin siparişin tarafımızca teyidi tarihinden itibaren 4 aydan uzun olması halinde, teslim tarihinde geçerli olan fiyatlar uygulanabilecektir. Alıcı, fiyat artışına ilişkin bildirimi almasını müteakip 14 gün içinde sözleşmeyi feshedebilir. Bu hakkın kullanılabilmesi için alıcının tarafımızı yazılı olarak bilgilendirmesi gerekmektedir.</p>
          <p>Fiyatlarımız Türk Lirası ve duruma göre fabrikada teslim (ex works) veya depoda teslim (ex warehouse) olarak belirlenmektedir.</p>
          <p>Fiyatlar sırasıyla tarafımızca tespit edilen miktara ve ağırlığa göre hesaplanacaktır. Bununla birlikte alıcı tarafımızca tespit edilen miktar ya da ağırlığın yanlış olduğunu iddia edebilir. Katma değer vergisi ve sevkiyat masrafları, özellikle</p>
          <p>de navlun, nakliye sigortası, gümrük harçları ile ambalaj ücretleri, ayrı ayrı belirtilmeseler dahi alıcı tarafından karşılanacaktır.</p>
          <h2>8. Ödeme</h2>
          <p>Ödemeler nakit olarak, kredi kartı veya havale yoluyla yapılabilir. Çek veya senet kabul etme zorunluluğumuz yoktur.</p>
          <p>Yapılan ödeme daima en eski fatura bedelinden mahsup edilecektir. Ödemelere ilişkin masraflar tarafımıza ait olmayacaktır. Banka ücretleri, iskonto masrafları ve tahsilat ücretleri, bu konuda açık bir anlaşma bulunmasa dahi alıcı tarafından karşılanacaktır.</p>
          <p>Vade tarihinden sonra yapılan ödemelere, Türkiye Cumhuriyeti Merkez Bankası’nın avans faiz oranının %8 fazlası oranında faiz uygulama hakkımız bulunmaktadır.</p>
          <p>Sözleşmenin akdinden sonra, alıcının mali durumunun esaslı şekilde bozulması veya alıcının daha önce mali durumunun bozulmuş olduğuna tarafımızca sözleşmenin akdinden önce vakıf olunmaması hallerinde, avans ödemesi veya teminat talep etme hakkımız bulunmaktadır. Bu talebin makul süre içinde yerine getirilmemesi halinde, sözleşmenin icrasını durdurma hakkımız bulunmaktadır.</p>
          <p>Alıcı taraflar arasında çekişmeli olan ve yargı kararına bağlanmamış bir talebini bize olan borcundan mahsup edemez veya bu tür bir talebe ilişkin olarak herhangi bir ödemeyi alıkoyamaz. Temsilcilerimize veya çalışanlarımıza yapılan ödemeler ancak yazılı bir tahsilat yetkisi verilmiş ise hüküm ifade edecektir.</p>
          <h2>9. Özel Üretimler</h2>
          <p>Ürünlerin alıcının belirlediği gereksinim, özellik ve benzerlerine göre tarafımızca üretildiği hallerde söz konusu gereksinim ve özelliklerin doğruluğundan yalnızca alıcı sorumlu olacaktır. Alıcı, tarafımıza yahut tarafımızca görevlendirilen bir firmaya karşı fikri ve sınai mülkiyet hakları ihlalleri nedeniyle yöneltilebilecek her türlü talebe karşı sorumlu olup tarafımızı tazmin etmekle yükümlüdür.</p>
          <p>Sipariş üzerine üretilen ürünlere ilişkin olarak, kararlaştırılan sipariş miktarında + veya - %10’a kadar sapan teslimatlar sözleşmeye uygun sayılacaktır. Satın alma bedeline ilişkin talebimiz bununla orantılı olarak artacak ya da azalacaktır. Bu tip siparişlerin ayrıntıları üzerinde ayrı olarak mutabakata varılacaktır.</p>
          <h2>10. Ayıplar</h2>
          <p>Ürünlerdeki ayıplardan, alıcının ürünleri almasından itibaren, en geç 10 gün içerisinde, tarafımıza yazılı bildirimde bulunması halinde sorumluluğumuz bulunmaktadır. Yazılı bildirim üzerine, ayıplı ürünler veya bunlardan bir numune, ilk inceleme için tarafımıza gönderilecektir.</p>
          <p>Sorumluluğumuz ayıbın giderilmesi veya ürünün ayıpsız misli ile ücretsiz olarak değiştirilmesiyle sınırlıdır. Ayıpsız ürün ile değişimin mümkün olmaması, tarafımızca ifanın reddedilmesi, her iki tarafın karşılıklı menfaatleri dikkate alındığında başka hukuki çözüm yollarının uygulanmasını haklı gösteren özel koşulların varlığı veya düzeltme için alıcı tarafından belirlenen sürenin sonuçsuz şekilde sona ermesi hallerinde, alıcı sözleşmeyi feshedebilir veya ücrette indirim yapılmasını isteyebilir.</p>
          <p>Alıcı tarafından talep edilebilecek kaliteye ilişkin ayıplara karşı garanti yükümlülüğümüz 1 yıldır. İşbu süre ürünlerin teslimi ile başlar.</p>
          <h2>11. Zararın Tazmini Talepleri</h2>
          <p>Alıcının, bir görevin ihlali, haksız fiil veya başka nedenlerle ortaya çıkan zararlara ilişkin talepleri; kasıt, ağır ihmal, esaslı yükümlülüklerden birinin ihlali, satın alma riskinin veya garanti talebinin kabulü veya can kaybı, yaralanma veya sağlığa zarar veren kusurlu eylemler neticesinde oluşacak zararlar söz konusu olmadığı sürece karşılanmaz. Her durumda zararın tazmini talepleri öngörülebilir zararlar ile sınırlıdır.</p>
          <p>Derya Makine’nin yukarıdaki paragraf uyarınca sorumluluğu söz konusu değilse yahut sınırlı sorumluluğu varsa herhangi bir&nbsp;Derya Makine çalışanı, temsilcisi ve yetkilisinin de sorumluluğu söz konusu olmayacak yahut sınırlı sorumlu olacaktır</p>
          <h2>12. Uygulanacak hukuk, ifa yeri ve yetkili mahkeme</h2>
          <p>Alıcı ile aramızdaki hukuki ilişkilere münhasıran Türk hukuku uygulanacaktır.</p>
          <p>İşbu teslim ve ödeme koşullarından doğan veya bu koşullarla ilgili olarak doğacak uyuşmazlıkların hallinde münhasıran İstanbul (Çağlayan) mahkemeleri ve icra daireleri yetkili olacaktır. Ayrıca, alıcının ticari veya idari merkezinin bulunduğu yerdeki mahkemeler ve icra daireleri de yetkilidir.</p>
              
          
              
                
              
          
              
                
              
          
            </section>
        </div>
    </div>
    <!-- Section End -->


    <!-- Footer Start -->
    {% include '_partials/_footer.html' %}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>

</html>